body,
html {
  margin: 0;
  padding: 0;
}
#container {
  padding: 10px;
  padding-bottom: 0;
}
#container form input {
  padding: 3px;
}
#container form input.has-error {
  border-color: red;
}
#container #menu {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#container #content {
  width: 400px;
}
#container #content #infoTexts p {
  color: #666666;
  margin: 0;
  padding: 0;
  display: none;
}
#container #content form {
  margin-top: 10px;
}
#container #content #loader {
  border: 1px solid #cccccc;
  display: none;
  font-size: 1.2em;
  height: 350px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}
#container #content #loader small {
  display: block;
}
#container #content #results {
  border: 1px solid #cccccc;
  display: none;
  font-size: 1.2em;
  height: 350px;
  margin-top: 10px;
  overflow: auto;
  padding: 10px;
}
#container #content #results div.definitionResult h2 {
  margin: 0;
  padding: 0;
}
#container #content #results div.definitionResult p {
  margin: 0;
  padding: 0;
}
#container #content #results div.definitionResult p.form {
  color: #666666;
  font-style: italic;
  margin: 0;
  padding: 0;
}
#container #content #results div.definitionResult ol.definitions {
  margin: 0;
}
#container #content #results div.definitionResult ol.definitions li.definitionContainer {
  margin-bottom: 10px;
}
#container #content #results div.definitionResult ol.definitions li.definitionContainer div.references {
  font-style: italic;
  margin: 0;
  padding: 0;
}
#container #content #results div.definitionResult ol.definitions li.definitionContainer div.references span {
  color: #666666;
}
#container #content #results div.definitionResult ol.definitions li.definitionContainer div.references a {
  text-decoration: none;
}
#container #content #results div.definitionResult ol.definitions li.definitionContainer div.references a:hover {
  text-decoration: underline;
}
#container #content #results div.anagramResult {
  margin-bottom: 15px;
}
#container #content #results div.anagramResult h5 {
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
}
#container #content #results div.anagramResult a {
  text-decoration: none;
}
#container #content #results div.anagramResult a:hover {
  text-decoration: underline;
}
#container #content #results div.buildWordResult {
  margin-bottom: 15px;
}
#container #content #results div.buildWordResult h5 {
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
}
#container #content #results div.buildWordResult a {
  text-decoration: none;
}
#container #content #results div.buildWordResult a:hover {
  text-decoration: underline;
}
#container #content #results div.fillTheBlanksResult h5 {
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
}
#container #content #results div.fillTheBlanksResult a {
  text-decoration: none;
}
#container #content #results div.fillTheBlanksResult a:hover {
  text-decoration: underline;
}
footer {
  text-align: right;
  padding: 8px 10px 3px 0;
}
