#container {
    width: 400px;
    padding: 5px;
}

#container h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

#container form small#errorMessage {
    color: red;
    display: block;
}

#container form input {
    padding: 3px;
}

#container form button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}

#container form button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

#container form button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
}

#container #info {
    color: #666;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

#container #loader {
    font-size: 1.2em;
    margin-top: 10px;
    border: 1px solid #ccc;
    height: 350px;
    padding: 10px;
    display: none;
    text-align: center;
}

#container #loader small {
    display: block;
}

#container #results {
    font-size: 1.2em;
    margin-top: 10px;
    border: 1px solid #ccc;
    height: 350px;
    overflow: auto;
    padding: 10px;
    display: none;
}

#container #results div.result h2 {
    margin: 0;
    padding: 0;
}

#container #results div.result p.form {
    margin: 0;
    padding: 0;
    color: #666;
    font-style: italic;
}

#container #results div.result ol.definitions {
    margin: 0;
}

#container #results div.result ol.definitions li.definitionContainer {
    margin-bottom: 10px;
}

#container #results div.result ol.definitions li.definitionContainer p.definition {
    margin: 0;
    padding: 0;
}

#container #results div.result ol.definitions li.definitionContainer div.synonyms {
    margin: 0;
    padding: 0;
    font-style: italic;
}

#container #results div.result ol.definitions li.definitionContainer div.synonyms span,
#container #results div.result ol.definitions li.definitionContainer div.antonyms span,
#container #results div.result ol.definitions li.definitionContainer div.alsoSee span {
    color: #666;
}

#container #results div.result ol.definitions li.definitionContainer div.synonyms a,
#container #results div.result ol.definitions li.definitionContainer div.antonyms a,
#container #results div.result ol.definitions li.definitionContainer div.alsoSee a {
    text-decoration: none;
}

#container #results div.result ol.definitions li.definitionContainer div.synonyms a:hover,
#container #results div.result ol.definitions li.definitionContainer div.antonyms a:hover,
#container #results div.result ol.definitions li.definitionContainer div.alsoSee a:hover {
    text-decoration: underline;
}